---
---
@charset "utf-8";

@font-face { font-family: HelveticaNeue; src: url('/assets/fonts/HelveticaNeue/HelveticaNeue.ttf'); }
$base-font-family: "HelveticaNeue";
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.895;
$large-font-size:  $base-font-size * 1.40;

$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #454545;
$background-color: #FFF;
$title-text-color: #FFF;
$brand-color:      #000000;
$highlighter-color: rgb(255, 255, 133);

// Width of the content area
$content-width:    700px;
$on-palm:          700px;
$on-laptop:        700px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
